.home-banner {
  background-image: url('https://images.unsplash.com/photo-1513113703321-437d5f417ac7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=964&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

h1, h2 {
  font-family: 'Outfit', sans-serif;
}

h1 {
  font-size: 50px;
}
