<div class="container">
  <div class="row">
    <div class="col-7">
      <img src="https://media.istockphoto.com/photos/generic-modern-suv-car-in-concrete-garage-picture-id1307086567?b=1&k=20&m=1307086567&s=170667a&w=0&h=NjcM6LIOkmfhyqH-zrbFU7pHCPxIABvNhWaOElm_P-E=" alt="">
    </div>


    <div class="col-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @vehicle.category %></h5>
          <p class="card-text"><%= @vehicle.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div
    </div>

  </div>
</div>